<p>
The Research Computing Group at ODU is pleased to launch our first hands-on introduction to our HPC facility in April! This short workshop is suitable to those who are new to Turing cluster or would like to gain more exposure to using UNIX shell.
</p>
Spend an afternoon with ODU's Research Computing Services team as we introduce basic skills for HPC! No prior computational experience is required. This workshop is intended to present a basic introduction to HPC (with particular emphasis on ODU’s Turing cluster), job schedulers, and the UNIX shell. It will also provide an overview of the tools available on Turing and how to use them effectively. We will use hands-on format to teach fundamental skills for working effectively on HPC clusters. Make sure you bring a laptop.
</p>
